<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판 페이지</title>
</head>
<body>
    <header id="header"></header>

    <main>
        <!--검색창-->
        <form>
            <label for="search-type" hidden>유형</label>
            <!--필터: 제목, 본문, 아이디, 닉네임, 해시태그-->
            <select id="search-type" name="search-type">
                <option>제목</option>
                <option>본문</option>
                <option>ID</option>
                <option>닉네임</option>
                <option>해시태그</option>
            </select>
            <label for="search-value" hidden>검색어</label>
            <input id="search-value" name="search-value" type="search" placeholder="검색어...">
            <button type="submit">검색</button>
        </form>


        <!--테이블-->
        <table>
           <thead>
            <tr>
                <th>제목</th>
                <th>해시태그</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
           </thead>
            <tbody>
                <tr>
                    <td>첫 글</td>
                    <td>#java</td>
                    <td>tester</td>
                    <td>2024-10-01</td>
                </tr>
                <tr>
                    <td>두 번째 글</td>
                    <td>#JavaScript</td>
                    <td>tester</td>
                    <td>2024-10-01</td>
                </tr>
                <tr>
                    <td>세 번째 글</td>
                    <td>#C/C++</td>
                    <td>tester</td>
                    <td>2024-10-01</td>
                </tr>
            </tbody>
        </table>
        <!--네이게이션 바-->

        <nav>
            <table>
                <tr>
                    <td>previous</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>next</td>
                </tr>
            </table>
        </nav>
    </main>

    <footer id="footer"></footer>
</body>
</html>